*{
   margin: 0;
   padding: 0;
}


.two{
   background : url(../images/mountains\ .jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.overly{
    padding: 250px 0;
}